@using jpggram.Models
@{
    ViewBag.Title = "Люди";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@*<section class="contact">
    
</section>*@
<div style="float:left; width:150px;">
    @foreach (UserProfile item in ViewBag.Users)
    {
        <a href="~/Home/Contact?id=@item.UserId">@item.UserName</a><br />
    }
</div>

<div style="margin-left:160px;">
    @foreach (Photo item in ViewBag.Photos)
    {
        <div class="photo">
            <p class="title">
                @item.Date (@item.UserProfile.UserName)
            </p>
            <img src="@item.Url" width="420"> <br />
        </div>
    }
</div>



